/* Mobile styling */
@media screen and (min-width: 200px) and (max-width: 900px) {
    .container{
        display: block;
    }

    .latest-questions{
        width: 100%;
        position: absolute;
        z-index: 1;
        left: -100%;
    }

    .chat-container{
        padding: 1.2rem;
    }

    .menu{
        display: block;
    }

    .chat-header{
        justify-content: flex-start;
    }

    .mobile-headline{
        display: block;
        text-align: center;
        margin-left: 1.5rem;
    }

    .chat-header-title{
        font-size: 1.2rem;
        margin-left: 1em;
    }

    .question{
        margin-block-end: .4rem;
    }

    .question:last-child{
        margin-block-end: 0;
    }
}