*{
    box-sizing: border-box;
}

:root{
    --baseColor: rgba(41,41,41, 1);
    --ci-color: rgb(152, 0, 94);
    --borderColor: rgb(86, 86, 86);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--baseColor);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/* Chatbot */

.chat-container{
    padding: 1.2rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.chatbot-container{
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--borderColor);
}

.chatbot-inputfield{
    resize: none;
    padding: 15px;
    background-color: rgb(42, 42, 42);
    width: 100%;
    color: #fff;
    font-size: .9rem;
    border: none;
}

.chatbot-submitMessage{
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem 1.2rem;
    border: none;
    font-size: 1rem;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

.send-icon{
    width: 20px;
    height: 20px;
}

.send-icon path{
    fill: #fff;
}

/* Latest question container */
.lq-header{
    padding: 1rem;
}

.latest-questions{
    padding: 1.2rem;
    background-color: var(--borderColor);
    height: 100vh;
    max-width: 350px;
}

.lq-question{
    width: 100%;
    max-width: 25rem;
    height: 75px;
    padding: .75rem 1rem;
    border: 1px solid var(--baseColor);
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    margin-block: .5rem;
}

/* general styles */

.cta{
    background-color: var(--ci-color);
    border: none;
    color: #fff;
    padding: 1.2rem;
    font-size: 1rem;
}

.cta.--position-r{
    float: right;
}

.container{
    display: grid;
    grid-template-columns: .4fr 1fr;
}