*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgba(41,41,41, 1);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.chatbot-inputfield{
    border: 1px solid rgb(86, 86, 86);
    resize: none;
    padding: 15px;
    background-color: rgb(42, 42, 42);
    width: 100%;
    color: #fff;
    font-size: .9rem;
}

.container{
    display: grid;
    grid-template-columns: .4fr 1fr;
}