*{
    box-sizing: border-box;
}

:root{
    --baseColor: rgba(41,41,41, 1);
    --ci-color: rgb(152, 0, 94);
    --borderColor: rgb(86, 86, 86);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--baseColor);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

/* Chatbot */

.chatbot-inputfield{
    border: 1px solid var(--borderColor);
    resize: none;
    padding: 15px;
    background-color: rgb(42, 42, 42);
    width: 100%;
    color: #fff;
    font-size: .9rem;
}

/* Latest question container */
.lq-header{
    padding: 1rem;
}

.latest-questions{
    padding: 1.2rem;
    border-right: 1px solid var(--borderColor);
}

.lq-question{
    width: 100%;
    max-width: 25rem;
    height: 75px;
    padding: .75rem 1rem;
    border: 1px solid var(--borderColor);
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

/* general styles */

.cta{
    background-color: var(--ci-color);
    border: none;
    color: #fff;
    padding: 1.2rem;
    font-size: 1rem;
}

.cta.--position-r{
    float: right;
}

.container{
    display: grid;
    grid-template-columns: .4fr 1fr;
}